main div{
    border: solid 2px rgb(214, 80, 80);
    margin: 5px;
    padding: 5px;
}
main > div { /* This rule will only select divs with a class of child */
    border: solid 2px rgba(80, 214, 136, 1);
  }
  /* This rule will only select divs with a class of grand-child */
main > div > div {
    border: solid 2px rgba(80, 93, 214, 0.8);
}

  /* This rule will only select the div with the class child group3 */
  .group1 + div + div {
    border: solid 2px rgb(214, 80, 120);
  }