

/* -------------BODY STYLES------------ */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* -------------MAIN STYLES------------ */
main {
    flex: 1;
    background-color: rgb(255, 255, 255);
    font-size: 1rem;
    display: flex;
}

/* -------------FORM STYLES------------ */

form {
    background-color: rgb(4, 23, 32);
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: aliceblue;

}

.info-section {
    width: clamp(35ch, 70%, 60ch);
    line-height: 1.5;
}

.info-section h3 {
    font-size: clamp(1.5rem, 1.8rem, 2.1rem);
    margin: 1rem;
}

.info-section p {
    color: rgb(187, 120, 94);
    font-size: clamp(1rem, 1.2rem, 1.4rem);
    margin: 1rem;
}

.inputs-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}
/* -------------LABEL INOUT ------------ */
.inputBox {
    position: relative;
    padding: 10px;
}

.inputBox input {
    padding: .5rem;
    transition: all .5s ease-in;
    font-size: 1.4rem;
    border: solid 3px rgb(255, 16, 240);
    background-color: transparent;
    border-radius: .4rem;
    outline: none;
    color: aliceblue;
} 

.inputBox label {
    position: absolute;
    bottom: 1.5rem;
    left: 1.6rem;
    font-size: 1.5rem;
    pointer-events: none;
    transition: .5s;
}

.inputBox input:focus ~ label,
.inputBox input:not(:placeholder-shown) ~ label {
    color: rgb(255, 16, 240);
    transform: translateY(-1.8rem) translateX(.5rem); 
    font-size: 1.1rem;
    padding: 0 1rem;
    background-color: rgb(4, 23, 32);
    border-left: solid 4px rgb(255, 16, 240);
    border-right: solid 4px rgb(255, 16, 240);
}
/* -------------Buttosn------------ */
button{
    border: 0;
    color: rgb(255, 168, 54);
    background-color: black;
    padding: 10px 50px;
    letter-spacing: .1em;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 2rem;
    transition: all .5s ease-in;
} 
button:hover{
    background-color: rgb(255, 168, 54);
    color: black;
}
/* -------------IMAGES STYLES------------ */

.image-container {
    width: 50vw;
    background-image: url('../images/myke-simon-atsUqIm3wxo-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bar-container {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.651);
    font-weight: 700;
    margin-top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar-container img {
    width: 150px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

/* -------------FOOTER STYLES------------ */
footer {
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(117, 0, 45);
    color: aliceblue;
    font-size: 1.2rem;
    height: clamp(50px, 10vh, 300px);
}

footer a{
    color: aliceblue;
}

/* -------------Media Queries------------ */ 
@media (max-width: 1060px) and (min-width: 770px) {
    main{
        flex-direction: column;
    }
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        flex: 1;
    }
    .image-container {
        width: 100%;
        height:30vh;
    }
    .bar-container {
        font-size: 3rem;
        color: aliceblue;
        background-color: rgba(0, 0, 0, 0.651);
        margin-top: 0%;
    }
    
}
@media only screen and (max-width: 767px) {
    main{
        flex: 1 0 auto;
        flex-direction: column;
    }
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        padding: 2rem;
        flex: 1;
    }
    .image-container {
        width: 100%;
        height: 20vh; /* Ajusta este valor según tus necesidades */    }
    .bar-container {
        font-size: 3rem;
        color: aliceblue;
        background-color: rgba(0, 0, 0, 0.651);
        margin-top: 0%;
    }
    .inputs-section {
        grid-template-columns: 11fr;
    }
    .info-section {
        width: 80%;
        line-height: 1.2;
    }
}
